.hamming{
    text-align: center;
    >h4{
        margin-top: 50px;
    }
    >p{
        font-size:1.7rem;
        margin-bottom:  50px;
        text-transform: uppercase;
    }
    ul{
        list-style:none;
        display:block;
        text-align:center;
        padding:0;
        width:90%;
        margin:0 auto;
    }
    &_practice{
        &__radio-btns{
            display:inline-block;
            padding:0 10px;
            label{
                display:block;
            }
        }
        th{
            text-align:center;
        }
        .selected{
            background-color:#7dc5ff;
        }
    }
}    