<!DOCTYPE html>
<html>
  <head>
    <title>GNSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container pspd-scheme">
        <h4>Структурная схема формирования навигационного сигнала ГЛОНАСС</h4>
        <div class="pspd-scheme_svg">
            <svg id='scheme' width="1140" height="600px">
             <foreignObject x="30" y="60">
                <div class='statistic-info'>
                    <b>Дополнительные данные</b>
                    <hr>
                    <div>Время [с]: <span id="statBlockTime">0</span></div>
                    <div>№ генерируемой строки: <span id="statBlockString"></span></div>
                    <div>№ генерируемого кадра: <span id="statBlockFrame"></span></div>
                    <div>№ генерируемого суперкадра: <span id="statBlockSuperFrame"></span></div>
                </div>
              </foreignObject>
            </svg>
        </div>
    </div>
    <% include ../partials/footer %>
  </body>
  <script src="/js/bundle.min.js"></script>
  <script src="/js/pspd-scheme.js"></script>
</html>    