<!DOCTYPE html>
<html>
  <head>
    <title>GNSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
  	<% include ../partials/header %>

  	<div class="container lab-gnss-signals">
  	<h4>Лабораторная работа №3</h4>
  	<p>"Исследование дальномерного кода сигнала ГЛОНАСС"</p>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#theory" data-toggle="tab" aria-expanded="false">Теория</a></li>
        <li class=""><a href="#practice" data-toggle="tab" aria-expanded="false">Практика</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="theory">
          <p>
            <strong>
                Цель работы – изучить автокорреляционные свойства  и принцип формирования псевдослучайной последовательности, используемой в                действующих открытых сигналах ГЛОНАСС. Изучить временные и спектральные характеристики сигнала, модулируемого ПСП.
            </strong>
          </p>
          <p>
            <strong>
                Краткое описание дальномерного кода сигнала ГЛОНАСС
            </strong>
          </p>
          <p>
            Для сигналов ГЛОНАСС стандартной точности диапазона L1 и L2 дальномерный код представляет собой последовательность максимальной длины (М-последовательность) длиной   с периодом повторения Т<sub>ДК</sub> = 1 мс и частотой следования символов f<sub>ДК</sub> = 511 кГц.
          </p>
          <p>
            М-последовательность является линейной циклической кодовой последовательностью, формируемой путём циклической перестановки определённого кодового слова (b<sub>1</sub>,b<sub>2</sub>,..b<sub>n</sub>). Элементы данного кодового слова способны принимать одно из допустимых значений заданного алфавита. В случае двоичного кода этими последовательностями являются 0 и 1. Реализация циклической перестановки элементов кодового слова осуществляется с помощью специального устройства – n-разрядного сдвигающего регистра. Под действие тактовых импульсов состояния n последовательно соединённых элементов памяти сдвигается на последующие элементы. Для того чтобы после осуществления операции сдвига регистр не оказался пустым вводится элемент обратной связи, предназначенный для проведения логической операции над содержимым определённых разрядов регистра и последующей записи в ячейку памяти регистра.
          </p>
          <p>
            Зачастую для описания работы регистра сдвига используют порождающий полином. Для сдвигового регистра сигналов ГЛОНАСС используется порождающий полином:
          </p>
          <div class="image">
            <img src="/img/labs/gnss-signals/m-sequence-polynome_formula.jpg" alt="">
          </div>
             
          <p>
             Символы ПСП при этом снимаются с 7-го разряда 9-и разрядного регистра. Начальным значением регистра сдвига является слово «111111111». Схема ранее описанного сдвигового регистра приведена на рисунке 1
          </p>
          <div class="image">
            <img src="/img/labs/gnss-signals/shift_registr.jpg"/>
            <div> Рисунок 1 – Сдвиговый регистр, формирующий дальномерный код </div>
          </div>  
          <p>
              М-последовательность обладает рядом важных свойств:
              <ul>
                <li>при использовании двоичного алфавита(0 и 1), число нулей и единиц отличается на единицу в периоде последовательности. При этом число единиц равно  2<sup>n-1</sup> , а число нулей 2<sup>n-1</sup> - 1 . Данное свойство называется свойством уравновешенности;</li>
                <li>при сравнении символов м-последовательности с символами последовательности, образованной в результате её циклического сдвига, на периоде – количество совпадений окажется на единицу меньше количества несовпадений. Данной свойство называется свойством корреляции</li>
                <li>сумма по модулю два сдвинутых относительно друг друга м-последовательностей также является м-последовательностью;</li>
                <li>уровень боковых лепестков АКФ любой периодической М-последовательности постоянен и равен  
                <img src="/img/labs/gnss-signals/akf_UBL-period.jpg" alt="">;</li>
                <li>уровень боковых лепестков АКФ любой апериодической М-последовательности близок к величине равной 
                <img src="/img/labs/gnss-signals/akf_UBL-single.jpg" alt=""> .</li>
              </ul>
          </p>
          <p>
            Важно отметить, что в данном СМПО используется алгебраическое представление двоичного алфавита. При этом возможные значения изменяются с 0 и 1 на +1 и -1, а эквивалентной операцией суммирования по модулю два является умножение. В таблице ниже приведено сравнение логического и алгебраического представления двоичного алфавита.
          </p>
          <table class="table table-striped table-hover center">
            <thead>
              <tr>
                <th>
                  <th></th>
                  <th>Логическое представления</th>
                  <th></th>
                </th>
                <th>
                  <th></th>
                  <th>Алгебраическое представление</th>
                  <th></th>
                </th>
              </tr>
              <tr>
                <th>
                  <th>Первый аргумент</th>
                  <th>Второй аргумент</th>
                  <th>Сложение аргументов по модулю 2</th>
                </th>
                <th>
                  <th>Первый аргумент</th>
                  <th>Второй аргумент</th>
                  <th>Произведение аргументов</th>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td></td>
                <td>+1</td>
                <td>+1</td>
                <td>+1</td>
              </tr>
              <tr>
                <td></td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
                <td></td>
                <td>+1</td>
                <td>-1</td>
                <td>-1</td>
              </tr>
              <tr>
                <td></td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
                <td></td>
                <td>-1</td>
                <td>+1</td>
                <td>-1</td>
              </tr>
              <tr>
                <td></td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
                <td></td>
                <td>-1</td>
                <td>-1</td>
                <td>+1</td>
              </tr>
            </tbody>
          </table> 
          <p>
          Нормированная апериодическая автокорреляционная функция последовательности a длиной L определяется в соответствии с выражением
          </p>
          <div class="image">
            <img src="/img/labs/gnss-signals/akf_formula.jpg" alt="">
          </div>
          <p>
            где  μ – величина сдвига последовательности a<sub>k</sub>  и её копии.
          </p>
          <p>
            <strong>
                Задание на работу
            </strong>
          </p>
          <p>
            <ol>
              <li> 
              Сгенерировать М-последовательности для 3 разных начальных значений регистра сдвига: [-1 -1 -1 -1 -1 -1 -1 -1 -1], [-1 1 -1 1 -1 1 -1 1 -1], [1 1 1 1 1 -1 -1 -1 -1] . Зафиксировать значение максимального по модулю выброса боковых лепестков для каждого случая, сравнить с теоретическим.
              </li>
              <li>
                Сгенерировать 2, 4, 8 периодов М-последовательности. Зафиксировать значение максимального по модулю выброса боковых лепестков для каждого случая, сравнить с теоретическим.
              </li>
              <li>
                Добавить белый гауссовский шум с тремя разными значениями СКО (0,2, 4; 10) для одного периода ПСП
              </li>
              <li>Добавить символьную задержку с тремя разными значениями (100, 250, 400) для одного периода ПСП</li>
              <li>
                Перенести дальномерный код на фиксированную радиочастоту (1,02 МГц) при трёх разных значениях частоты дискретизации (6 МГц, 18 МГц, 30 МГц)
              </li>
              <li>
                Перенести дальномерный код на три разные частоты (0,51 МГц, 1,53 МГц, 2,56 МГц) при фиксированном значении частоты дискретизации (16 МГц).
              </li>
            </ol>
          </p>
          <p>
            <strong>
                Требования к отчёту
            </strong>
          </p>
          <p>
            По результату проведения лабораторного практикума необходимо сформировать отчёт, в состав которого входят:
            <ul>
              <li>исходные данные: параметры эксперимента, выставляемые на панели управления;</li>
              <li>результаты эксперимента: значения максимального по модулю выброса боковых лепестков АКФ для разных М-последовательностей, графики результатов моделирования;</li>
              <li>ответы на контрольные вопросы.</li>
            </ul>
          </p>
           <p>
            <strong>
                Контрольные вопросы
            </strong>
          </p>         
          <p>
            <ol>
              <li>
                Зачем используется дальномерный код в навигационных сигналах?
              </li>
              <li>
                Опишите принцип работы сдвигового регистра?
              </li>
              <li>
                Перечислите основные свойства М-последовательности
              </li>
              <li>
                Чему равен уровень боковых лепестков АКФ апериодической М-последовательности длиной  ? 
              </li>
              <li>
                Чему равно число нулей в М-последовательности длиной  ?
              </li>
              <li>
                Постройте М-последовательность длиной  , порождающий полином которой имеет вид  , а начальное значение сдвигового регистра [0 1 0 1].
              </li>
              <li>
                Постройте АКФ следующей М-последовательности: [1 -1 1 1 -1 -1 -1]. 
              </li>
            </ol>
          </p>
        </div>
        <div class="tab-pane fade" id="practice">
          <div class="row">
            <div class="col-lg-4">
              <div class="lab-gnss-signals_options">
          <legend>Параметры эксперимента</legend>
            <form class="form-horizontal lab-gnss-signals_options__register">
              <fieldset>
                Регистр сдвига
                <hr>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №8 (старший бит)
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-8">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №7
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-7">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №6
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-6">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №5
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-5">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №4
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-4">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №3
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-3">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №2
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-2">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>                                                       
                <div class="row">
                  <div class="col-lg-7">
                    Бит №1
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-1">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>  
                <div class="row">
                  <div class="col-lg-7">
                    Бит №0 (младший бит)
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-0">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>                                                       
              </fieldset>
            </form>
            <hr>
            <ul class="nav nav-tabs lab-gnss-signals_options_frequency">
              <li class="active"><a href="#DK" data-toggle="tab" aria-expanded="false" onclick="removeCharts()">Без радиочастоты</a></li>
              <li class=""><a href="#frequency" data-toggle="tab" aria-expanded="false" onclick="removeCharts()">На радиочастоте</a></li>
            </ul>
            <div id="myTabContent2" class="tab-content">
              <div class="tab-pane fade active in" id="DK">
                <div class="lab-gnss-signals_options_checkb">
                  <div class="lab-gnss-signals_options_periods row">
                      <div class="col-lg-9">Кол-во периодов</div>
                      <div class="col-lg-3">
                        <select id="lab_periodNum">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="4">4</option>
                          <option value="8">8</option>
                           </select> 
                      </div>
                  </div>
                  <div class="lab-gnss-signals_options_add-noise row">
                      <div class="col-lg-9">Добавить шум</div>
                      <div class="col-lg-3">
                        <input id="lab_addNoise" type="checkbox"> 
                      </div>
        
                      <div class="lab-gnss-signals_options_add-noise__RMS col-lg-12">
                          <div id="slider-range1"></div> 
                          <p>СКО, В</p>
                          <p>С/Ш = <span class="lab-gnss-signals_options_add-noise_RMS__SNR"></span></p>
                      </div>
                  </div>
                
                  <div class="lab-gnss-signals_options_add-delay row">
                      <div class="col-lg-9">Добавить задержку</div>
                      <div class="col-lg-3">
                        <input id="lab_addDelay" type="checkbox"> 
                      </div>
                      <div class="lab-gnss-signals_options_add-delay__delay col-lg-12">
                          <div id="slider-range2"></div> 
                          <p>Количество символов</p>
                      </div>
                  </div>
                  <a id="lab_mCode512" class="btn default">Построить</a>                
                </div>
                
                              
              </div>
              <div class="tab-pane fade" id="frequency">
                <div class="lab-gnss-signals_options_checkb">
                  <div class="row">
                    <div class="col-lg-12">Частота дискретизации, Мгц</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range3"></div> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">Промежуточная частота, Мгц</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range4"></div> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">Длительность сигнала, мс</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range5"></div> 
                    </div>
                  </div>
                  <br>                                    
                  <a id="lab_signal" class="btn default">Построить</a>
                </div>
                  
              </div>
            </div> 

        </div>
            </div>
            <div class="col-lg-8">
              <div class="lab-gnss-signals__chartwrapper">
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart1" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart3" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart4" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart5" width="400" height="400"></canvas>
                </div>
              </div> 
            </div>
          </div>
          
 
          </div>
        </div>
      </div>
  	</div>
  	<% include ../partials/footer %>
  </body>


  <script src="/js/bundle.min.js"></script>
  <script src="/js/gnss-signals.js"></script>
  <script src="/js/dsp.js"></script>
</html>