<!DOCTYPE html>
<html>
  <head>
    <title>GNSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
  	<% include ../partials/header %>

  	<div class="container lab-gnss-signals">
  	<h4>Лабораторная работа №3</h4>
  	<p>"Исследование дальномерного кода сигнала ГЛОНАСС"</p>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#theory" data-toggle="tab" aria-expanded="false">Теория</a></li>
        <li class=""><a href="#practice" data-toggle="tab" aria-expanded="false">Практика</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="theory">
          <p>
            <strong>
              Цель работы — изучение спектральных и автокорреляционных свойств
              псевдослучайных последовательностей, использующихся в качестве дальномерных кодов в
              современных глобальных навигационных спутниковых системах (ГНСС).
            </strong>
          </p>
          <p>
            Большинство ГНСС используют псевдослучайные последовательности, которые
            могут быть сформированы на основе регистров сдвига с обратными связями (GPS L1 C/A,
            L2C, L5, ГЛОНАСС L1/L2 СТ, L3, BeiDou B1I, B2I и т.д.). Также встречаются
            псевдослучайные последовательности, задаваемые таблично («случайные»
            последовательности или «memory codes») (GALILEO E1b/E1c).
          </p>
          <p>
            Рассмотрим в качестве примера дальномерный код сигнала ГЛОНАСС L1/L2 СТ.
            Этот дальномерный код представляет собой последовательность максимальной длины (М-
            последовательность), задаваемую образующим полиномом вида: 1+x5+x9 . Данному
            образующему полному момжно сопоставить регистр сдвига с обратными связями,
            приведенный на рисунке 1 (Стрелкой указано направление сдвига). Начальное состояние
            регистра сдвига: «111111111».
          </p>
          <div class="image">
            <img src="/img/labs/gnss-signals/Register059.png"/>
          </div>  
          <p>
            Следует обратить внимание, что символы М-последовательности, формируемые с
            помощью регистра сдвига, принимают два возможных значения: 0 и 1. Такое представление
            называют логическим. Символы же М-последовательности, формируемые с помощью
            листинга 1, принимают значения +1 и -1. Такое представление называют алгебраическим.
            Эквивалентом операции суммирования по модулю 2 для логического представления является
            операция умножения для алгебраического представления. Далее в основном
            будет использоваться алгебраическое представление.
          </p>
        

        </div>
        <div class="tab-pane fade" id="practice">
          <div class="row">
            <div class="col-lg-4">
              <div class="lab-gnss-signals_options">
          <legend>Параметры эксперимента</legend>
            <form class="form-horizontal lab-gnss-signals_options__register">
              <fieldset>
                Регистр сдвига
                <hr>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №8 (старший бит)
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-8">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №7
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-7">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №6
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-6">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №5
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-5">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №4
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-4">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №3
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-3">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>
                <div class="row">
                  <div class="col-lg-7">
                    Бит №2
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-2">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>                                                       
                <div class="row">
                  <div class="col-lg-7">
                    Бит №1
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-1">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>  
                <div class="row">
                  <div class="col-lg-7">
                    Бит №0 (младший бит)
                  </div>
                  <div class="col-lg-5">
                    <select class="form-control" id="reg-bit-0">
                      <option>-1</option>
                      <option>1</option>
                    </select>
                  </div>                    
                </div>                                                       
              </fieldset>
            </form>
            <hr>
            <ul class="nav nav-tabs lab-gnss-signals_options_frequency">
              <li class="active"><a href="#DK" data-toggle="tab" aria-expanded="false" onclick="removeCharts()">Без радиочастоты</a></li>
              <li class=""><a href="#frequency" data-toggle="tab" aria-expanded="false" onclick="removeCharts()">На радиочастоте</a></li>
            </ul>
            <div id="myTabContent2" class="tab-content">
              <div class="tab-pane fade active in" id="DK">
                <div class="lab-gnss-signals_options_checkb">
                  <div class="lab-gnss-signals_options_periods row">
                      <div class="col-lg-9">Кол-во периодов</div>
                      <div class="col-lg-3">
                        <select id="lab_periodNum">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="4">4</option>
                          <option value="8">8</option>
                           </select> 
                      </div>
                  </div>
                  <div class="lab-gnss-signals_options_add-noise row">
                      <div class="col-lg-9">Добавить шум</div>
                      <div class="col-lg-3">
                        <input id="lab_addNoise" type="checkbox"> 
                      </div>
        
                      <div class="lab-gnss-signals_options_add-noise__RMS col-lg-12">
                          <div id="slider-range1"></div> 
                          <p>СКО, В</p>
                          <p>С/Ш = <span class="lab-gnss-signals_options_add-noise_RMS__SNR"></span></p>
                      </div>
                  </div>
                
                  <div class="lab-gnss-signals_options_add-delay row">
                      <div class="col-lg-9">Добавить задержку</div>
                      <div class="col-lg-3">
                        <input id="lab_addDelay" type="checkbox"> 
                      </div>
                      <div class="lab-gnss-signals_options_add-delay__delay col-lg-12">
                          <div id="slider-range2"></div> 
                          <p>Количество символов</p>
                      </div>
                  </div>
                  <a id="lab_mCode512" class="btn default">Построить</a>                
                </div>
                
                              
              </div>
              <div class="tab-pane fade" id="frequency">
                <div class="lab-gnss-signals_options_checkb">
                  <div class="row">
                    <div class="col-lg-12">Частота дискретизации, Мгц</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range3"></div> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">Промежуточная частота, Мгц</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range4"></div> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">Длительность сигнала, мс</div>
                    <div class="col-lg-12 lab-gnss-signals_options__slider">
                      <div id="slider-range5"></div> 
                    </div>
                  </div>
                  <br>                                    
                  <a id="lab_signal" class="btn default">Построить</a>
                </div>
                  
              </div>
            </div> 

        </div>
            </div>
            <div class="col-lg-8">
              <div class="lab-gnss-signals__chartwrapper">
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart1" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart3" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart4" width="400" height="400"></canvas>
                </div>
                <div class="lab-gnss-signals__chart">
                  <canvas id="myChart5" width="400" height="400"></canvas>
                </div>
              </div> 
            </div>
          </div>
          
 
          </div>
        </div>
      </div>
  	</div>
  	<% include ../partials/footer %>
  </body>


  <script src="/js/bundle.min.js"></script>
  <script src="/js/gnss-signals.js"></script>
  <script src="/js/dsp.js"></script>
</html>