<!DOCTYPE html>
<html>
  <head>
    <title>GNSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
  	<% include ../partials/header %>
    <div class='start_block'>
      <img class="start_block__bg-image" src="/img/earth-png-25612.jpg">
      <div class="start_block_content">
        <h2 class='start_block_content__title'><b>Г</b>лобальные<br> <b>н</b>авигационные<br> <b>с</b>путниковые<br> <b>с</b>истемы</h2>
        <p class='start_block_content__text'>Удалённые лабораторные практикумы</p>
        <div class="start_block_content__btn">Описание</div>
      </div>
   
    </div>
      <div class="start_block-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Развитие и широкое внедрение технологий спутниковой навигации в различные отрасли народного
              хозяйства и экономику Российской Федерации, а также увеличение спроса на услуги,
              предоставляемые современными глобальными навигационными спутниковыми системами
              по всему миру, делают актуальной задачей подготовку квалифицированных кадров по созданию и обслуживанию этих систем.
              <br><br>
              Данный ресурс предназначен для решения вышеописанной задачи. Одной из основных составляющих платформы является программный
               комплекс имитации сигналов ГНСС и блоков обработки сигналов аппаратуры потребителя. Подсистема учебно-лабораторных средств предназначена для:<br><br>
               <ul>
                 <li>практической подготовки пользователей (слушателей) на специализированных программных моделях, имитирующих формирование навигационного сигнала;</li>
                 <li>получения пользователями (слушателями) навыков исследовательской работы по технологии удаленного доступа со специализированными программными имитационными моделями навигационной аппаратуры;</li>
                 <li>выполнения пользователями (слушателями) в режиме удаленного доступа лабораторных практикумов.</li>
               </ul>
             
            </div>
          </div>
        </div>
        
      </div>
  
    <% include ../partials/footer %>
  </body>
  <script src="/js/bundle.min.js"></script>
</html>
