<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
  	<% include ../partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= title2 %></p>
    <% include ../partials/footer %>
  </body>
  <script src="/bundle.min.js"></script>
</html>
