<!DOCTYPE html>
<html>
  <head>
    <title>GNSS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/bundle.min.css' />
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container lab-nav-data">
    <h4>Лабораторная работа №1</h4>
    <p>"Исследование формирователя строки НИ сигнала ГЛОНАСС"</p>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#theory" data-toggle="tab" aria-expanded="false">Теория</a></li>
        <li class=""><a href="#practice" data-toggle="tab" aria-expanded="false">Практика</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="theory">
          <p>
            <strong>
              Цель работы – изучить структуру строк навигационной информации ГНСС на примере системы ГЛОНАСС. Получить практическое представление  принципа работы формирователя строк НИ.
            </strong>
          </p>
          <p>
            Для планирования и осуществления навигационных определений в НАП в составе навигационного сигнала передаётся навигационное сообщение. Оно представляет собой поток цифровой информации, закодированной по коду Хемминга и преобразованной в относительный код. Навигационная информация состоит из непрерывно повторяющихся суперкадров, кадров и строк. Каждый суперкадр состоит из 5 кадров, а каждый кадр в свою очередь из 15 строк.  Длительность одной информационной строки кадра составляет 2 с (100 бит), таким образом длительность кадра составляется 30 с, а длительность всего суперкадра 2,5 мин.
          </p>
          <p>
            Формирования строки НИ осуществляется в несколько этапов. На первом этапе в течение 1.7 с генерируется навигационная информация, преобразованная в относительный бидвоичный код. На втором этапе осуществляется формирование ПСП МВ в течение 0.3 с. На рисунке 1 приведена структура суперкадра навигационного сообщения ГЛОНАСС. 
          </p>
          <p>
            Содержание навигационного сообщения можно разделить на две составляющие: оперативную и неоперативную информацию. Оперативная информация относится к излучающему НКА и содержит в своём составе: эфемериды, относительный сдвиг частоты сигнала, время начала кадра в пределах суток и др. Неоперативная информация включает в себя альманах всей  системы. Алгоритм формирования оперативной и неоперативной информации в пределах суперкадра НИ проиллюстрирован на рисунке 1.35.
          </p>
          <div class="image">
            
          </div>  
        </div>
        <div class="tab-pane fade" id="practice">
          <div class="row">
              <div class="col-lg-4">
                <div id="superFrameWrapper"></div>
              </div>
              <div class="col-lg-8">
            <div class="working-area">
                <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th>Слово</th>
                      <th>Число разр.</th>
                      <th>Цена мл. разр.</th>
                      <th>Диапазон зн-ий</th>
                      <th>Единица из-ия</th>
                      <th>Значение</th>                  
                    </tr>
                  </thead>
                </table>
                <a id='generateStringBtn' class='btn working-area__btn' type='submit'>Сформировать строку</a>
                <div class="working-area__string">
                    <p><b>В десятичной системе счисления:</b></p>
                    <div class="working-area__string--decimial"></div>
                    <p><b>В двоичной системе счисления:</b></p>
                    <div class="working-area__string--binary"></div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>


  <script src="/js/bundle.min.js"></script>
  <script src="/js/nav-data.js"></script>
</html>